*.pyc
yarn-error.log
_modules
superset/assets/coverage/*
superset/assets/dist/*
superset/assets/node_modules
changelog.sh
.DS_Store
.coverage
_build
_static
_images
_modules
env_py3
.eggs
*.db
tmp
local_config.py
env
superset.egg-info/
venv/
app.db
*.bak
.idea
*.sqllite
.vscode
.python-version

# Node.js, webpack artifacts
*.entry.js
*.js.map
node_modules
npm-debug.log

# IntelliJ
*.iml
